{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm" data-aos="fade-down">
            <div class="card-body text-center">
                <h1 class="card-title">500 - Internal Server Error</h1>
                <p class="card-text">Something went wrong on our end. Please try again later.</p>
                <a href="{{ url_for('main.index') }}" class="btn btn-primary">Go Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
